#pageAccueil{
	background:rgba(56,180,12,0.8);
	color:black;
	background:url("../img/background.png") center;
}


#pageAccueil #principalAccueil{
	
}

#pageAccueil #principalAccueil #boutonConnexion{
	color:white;
	background:rgba(80,149,31,0.8);
}

#pageAccueil #principalAccueil #champLogo{
	text-align:center;
}

#pageAccueil #principalAccueil #champLogo img{
	width:90px;
	height:100px;
	border-radius:50px;
}

#pageAccueil #principalAccueil #oublieMotDePasse{
	margin-top:10px;
	text-decoration:underline;
}

#pageAccueil #principalAccueil #texteExplicationOublieMotDePasse{
	display:none;
}
